
# The registry URL to use for retrieving packages
registry=https://registry.npmjs.org/

# Save installed packages to package.json dependencies
save=true

# Set log level
loglevel=notice

# Enable strict SSL for package retrieval
strict-ssl=true